a#page-1-link.nav-link.navlink-active.active {
    background-color: #060505 !important;
    color: #ffffff !important;
}


a#page-2-link.nav-link.navlink-active.active {
    background-color: #060505 !important;
    color: #ffffff !important;
}

