a#page-1-link.nav-link.navlink-active.active {
    background-color: #060505 !important;
    color: #ffffff !important;
}


a#page-2-link.nav-link.navlink-active.active {
    background-color: #060505 !important;
    color: #ffffff !important;
}

._dash-loading-callback {
    /* The banner */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: progress;
  
    opacity: 0.2;
    background-color: rgb(250, 250, 250);
    /* Delay animation by 1s to prevent flashing 
       and smoothly transition the animation over 0.5s 
     */
    -moz-animation: fadein 0.5s ease-in 1s forwards; /* Firefox */
    -webkit-animation: fadein 0.5s ease-in 1s forwards; /* Safari and Chrome */
    -o-animation: fadein 0.5s ease-in 1s forwards; /* Opera */
    animation: fadein 0.5s ease-in 1s forwards;
  }


  .date-picker-custom .CalendarDay__selected_span{
    background-color: #0f2044;
    border-color: #fff;
}

.date-picker-custom .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover{
    background-color: #ffb71b;
    color: #0f2044;
    border-color: #fff;
}

.date-picker-custom  .CalendarDay__default:hover {
    background-color: #ffb71b;
    color: #0f2044;
    border-color: #fff;
}


.multi-dropdown-custom .Select-value {
    background-color: rgb(15,32,68,0.08);
    color: rgb(15,32,68);
    border-color: rgb(15,32,68);
}

.multi-dropdown-custom div.VirtualizedSelectOption.VirtualizedSelectFocusedOption, .dropdown-custom div.VirtualizedSelectOption.VirtualizedSelectFocusedOption{
    background-color: rgb(15,32,68,0.08);
}

